.movie-wrapper {
    display: inline-block;
    /* width: 150px; */
    /* width: 140px; */
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
    /* border-radius: 20px; */
    /* background-color: bisque; */
    }
    
  .img-movie-thumb {
  
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    /* margin: 0px; */
  
    /* ukuran card movie imdb */
    width: 150px;
    height: 220px;
    
    /* dibawah ini untuk ukuran youtube */
    /* width: 100%;
    height: 118px; */
  
    /* ukuran asli dibawah ini*/
    /* width: 100%;
    height: 100%; */
  }
  
  .img-movie-thumb img {
    width: 100%;
  }
  
  p.time-movie {
    position: absolute;
    color: white;
    bottom: 5px;
    right: 6px;
    margin: 0;
    background: black;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
  }
  
  p.title-movie {
    font-size: 14px;
    font-weight: bold;
    /* font-weight: 600; */
    text-transform: capitalize;
    margin: 0px;
    color: #2d2d2d;
  }
  
  p.desc-movie {
    font-size: 14px;
    color: #999;
    margin: 0px;
  }